@model Diary.Web.Models.Note.PictureModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.Raw("<img src=\"data:" + @Model.MIME + ";base64,"
          + Convert.ToBase64String(@Model.Image) + "\" alt=" + @Model.Name + " />")
</body>
</html>
